<h2>Board State</h2>
<table class="board">
    <tr>
        <% for i in 0...7 -%>
            <th>
              <%= button_to "Drop", action: "drop_token", column: i %>
            </th>
        <% end -%>
    </tr>
<% for @row in @board_grid -%>
  <tr>
    <% for @position in @row -%>
      <td><%= @position %></td>
    <% end -%>
  </tr>
<% end -%>
</table>