<h2>Board State</h2>
<table class="board">
<tr>
  <%= button_to "Drop", action: "drop_token" %>
</tr>
<% for @row in @board_grid -%>
  <tr>
    <% for @position in @row -%>
      <td><%= @position %></td>
    <% end -%>
  </tr>
<% end -%>
</table>