<h2>Board State</h2>
<% if @winner -%>
<h1>You have won!!</h1>
<% end -%>
<table class="board">
    <tr>
        <% for i in 0..@board_grid.length -%>
            <th>
              <%= button_to "Drop", action: "drop_token", column: i, player: 1 %>
            </th>
        <% end -%>
    </tr>
<% for @row in @board_grid -%>
  <tr>
    <% for @position in @row -%>
      <td><%= @position %></td>
    <% end -%>
  </tr>
<% end -%>
</table>