<h1>Board State</h1>
<p>To win Connect Four you must be the first player to get four of your colored checkers in a row either horizontally, vertically or diagonally. 
You will drop a piece in, and it will fall to the bottom of the grid. You will swap turns dropping tokens with an AI opponent.
You are <span color="red">RED.</span></p>
<% if @winner %>
<h2>You have won!!</h2>
<% end %>
<% if @loser %>
<h2>Haha! The AI is smarter than you!</h2>
<% end %>
<div><%= @move %></div>
<table class="board">
    <tr>
      <% unless @winner or @loser %>
        <% for i in 0..@board_grid.length %>
            <th>
              <%= button_to "Drop", action: "drop_token", column: i, player: 1 %>
            </th>
        <% end %>
      <% end %>
    </tr>
<% for @row in @board_grid %>
  <tr>
    <% for @player in @row %>
      <td><div class="<%= "player player#{@player}" %>"></div></td>
    <% end -%>
  </tr>
<% end -%>
</table>